body{
    background: black;
    color: yellow;
    letter-spacing: normal;
    line-height: 2;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Cabin' sans-serif;
}
h1{
    font-style: "Times New Roman";
    font-size: 24pt;
    text-align: center;

}
.center{
    
    font-family: Arial;
    text-align: center;
}
ul{
    list-style: square;
}
h2{
    text-decoration:underline;
}
div{
    text-align: start;
}
a{
    color: orangered;
}
.lead{
    font-style: italic;
    font-weight: bold;
    color: grey;
}
nav a{
    margin-right: 20px;
    text-decoration: none;
    border: 2px solid grey;
    background: yellow;
    color:black;
    font-weight: bold;
padding:2px  8px;
font-style: italic;

}
nav{
    text-align: center;}
.komentar{
    width: 300px;
    height: 300px;;
}
.dugme{
    text-align: center;
}
h1{
    font-family: 'Calistoga' cursive;
    border: 2px solid yellow;
}
.border{
    border: 2px solid yellow;
}